body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fffacd;
  color: #000;
}

.navbar-laravel {
  background-color: #808000;
  box-shadow: 2px 4px black;
}

.navbar-brand {
  color: #6b8e23 !important;
  font-size: 60px;
}

.item_box {
  color: #4c4c4c;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
  padding: 24px 8px;
  font-size: 1.1em;
  background-color: #fefefe;
}

.show_item_box {
  color: #4c4c4c;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding: 50px 50px;
  font-size: 1.1em;
  background-color: #fefefe;
}

